* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}
#canvas {
    border: 5px solid rgb(131, 0, 0);
}
button {
    padding: 10px;
    width: 100px;
    height: 100px;
}
.buttoncontainer {
    display: flex;
    flex-direction: row;
}
.eccontainer {
    display: flex;
    flex-direction: row;
    margin-left: 20%;
}
